<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TeLlevoApp
    </ion-title>
    <img slot="end" src="assets/img/logoduoc.png" height="25px" class="img-header" style="margin-right: 10px;">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Cabecera secundaria para la página específica -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pagina</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-tabs></app-tabs>
  <!-- Contenido principal -->
  <app-refresh></app-refresh>
  <app-scroll></app-scroll>

  
</ion-content>
