<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="content">


    <ion-content class="ion-padding" id="main-content">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Usuario</ion-card-title>
          <ion-card-subtitle>Informacion</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-thumbnail>
              <ion-label>
                Nombre: {{user.name}}
                <br>
                Email: {{user.email}}
                <!--<br>Edad:
                <br>Carrera:
                !-->
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-content>

    

  </div>


</ion-content>