h2{
    padding-top: 20px;
    text-align: center;
}

.signup{
    padding: 60px;
}

ion-button{
    width: 150px;
}

@media (min-width: 796px){

    form{
        width: 500px;
        padding: 50px 10px;
    }
}