

<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1663.5248707829792!2d-70.61758294326708!3d-33.50008295665956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d00be4a5fa81%3A0xcd8eaf5b1d547f64!2sDuoc%20UC%3A%20Sede%20San%20Joaqu%C3%ADn!5e0!3m2!1ses-419!2scl!4v1726198778698!5m2!1ses-419!2scl" width="800" height="650" style="border:0; ;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
